:root {
	--color_red: #FF4747;
	--color_orange: #FFA947;
	--color_yellow: #FFE047;
	--color_lime: #E7FF47;
	--color_green: #B9FF47;
	--color_teal: #47FFB3;
	--color_light_blue: #47F3FF;
	--color_blue: #4F9EF8;
	--color_purple: #8247FF;
	--color_magenta: #CE47FF;
}