/* Shades are 6 away from each other (https://coolors.co/) */
:root {
	--color_bg: #f5f5dc;
	--color_bg2: #ededbf;
	--color_popup_bg: rgba(18, 18, 18, 0.5);
	--color_txt: #121212;
	--color_txt2: #474747;

	--color_link: #e5105e;
	--color_link_hover: #f679a7;

	--color_btn: #368bab;
	--color_btn_hover: #83c1d8;

	--color_btn2: #18F910;
	--color_btn2_hover: #8CFC88;

	--color_input: #ffffff;
	--color_input_txt: #000000;

	--color_scrollbar_track_bg: #555555;
	--color_scrollbar_thumb_bg: #f5f5f5;
	--color_scrollbar_thumb_bg_hover: #c2c2c2;

	/* By default, svg's are black */
	--color_svg: invert(0);
	--color_svg_hover: invert(0.25);

	--color_toast_bg: rgba(18, 18, 18, 0.8);
	--color_toast_border: rgba(0, 0, 0, 0);
	--color_toast_txt: var(--color_bg);
}