/* Shades are 6 away from each other (https://coolors.co/) */
:root {
	--color_bg: #583101;
	--color_bg2: #6F4518;
	--color_popup_bg: rgba(245, 245, 245, 0.4);
	--color_txt: #f3d5b5;
	--color_txt2: #bc8a5f;

	--color_link: #f679a7;
	--color_link_hover: #e5105e;

	--color_btn: #83c1d8;
	--color_btn_hover: #368bab;

	--color_btn2: #8CFC88;
	--color_btn2_hover: #18F910;

	--color_input: #ffffff;
	--color_input_txt: #000000;

	--color_scrollbar_track_bg: #ffedd8;
	--color_scrollbar_thumb_bg: #555555;
	--color_scrollbar_thumb_bg_hover: #c7b39c;

	/* By default, svg's are black */
	--color_svg: invert(1);
	--color_svg_hover: invert(0.6);

	--color_toast_bg: rgba(18, 18, 18, 0.8);
	--color_toast_border: var(--color_txt);
	--color_toast_txt: var(--color_txt);
}